/__history/*.~1~
/Common/Models/__history/*.~1~
/Common/Presenter/__history/*.~1~
/Common/Views/__history/*.~1~
/GUI/__history/*.~1~
/__history/*.~2~
/GUI/__history/*.~2~
/__history/*.~3~
/GUI/__history/*.~3~
/__history/*.~4~
/GUI/__history/*.~4~
/__history/*.~5~
/GUI/__history/*.~5~
/GUI/__history/*.~6~
/GUI/__history/*.~7~
/_Compiled/DCU/*.dcu
/_Compiled/EXE/*.exe
/*.identcache
/*.local
/*.skincfg
